extends ../layout

block content  
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Ver Bicicleta

    br
    br

    label(for='id') ID:  
    input#id(type='text' name='id' value=bici.id readonly=true)
    br
    label(for='color') Color:
    input#color(type='text' name='color' value=bici.color readonly=true)
    br
    label(for='modelo') Modelo:
    input#modelo(type='text' name='modelo' value=bici.modelo readonly=true)
    br
    label(for='lat') Latitud:
    input#lat(type='text' name='lat' value=bici.ubicacion[0] readonly=true)
    br
    label(for='lng') Longitud:
    input#lng(type='text' name='lng' value=bici.ubicacion[1] readonly=true)

